
.lilas-escuro {
    background-color: #9333EA !important;
}

.lilas-medio {
    background-color: #C084FC;
}

.lilas-claro {
    background-color: #E9D5FF;
}

.lilas-titulo {
    color: #9333EA;
}

.hero-section {
    background: #9333EA;
    min-height: 90vh;
    padding-top: 90px;
}


.card {
    border-radius: 12px;
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-6px);
}


footer a:hover {
    color: #E9D5FF;
}

img {
    object-fit: cover;
}
.foto-box {
    overflow: hidden;
    border-radius: 12px;
    background-color: #E9D5FF; /* lilás claro */
    padding: 6px;
    box-shadow: 0 4px 12px rgba(147, 51, 234, 0.2);
}

.foto-grid {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.4s ease, filter 0.4s ease;
}

.foto-grid:hover {
    transform: scale(1.08);
    filter: brightness(1.15);
}

@media (max-width: 576px) {
    .foto-grid {
        height: 200px;
    }
}

